body{
  position:relative;
font-family:Microsoft JhengHei;
margin:0;
  padding:0;
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  display:flex;
  justify-content:center;
}
#header{color:white;padding-top:10px;
text-align:center;padding-left:40px;
}


#todoList{margin:0 auto;
}
i{color:#fa7d6a}
i:hover{color:#9f1336}
ul{display: inline-block;
}
h3{padding-left:90px;color:white;}
li{list-style: none;
width:250px;
height:40px;
padding-left:20px;
background-color: rgba(248,250,140,0.6);
padding-top:7px;
  font-size:20px;
  

}
li:hover{
  
  background-color: rgba(248,250,140,1);
border:2px hsla(214, 50%, 36%, 0.25) outset;}
input{outline:none;
border:none;
font-family:Microsoft JhengHei;
  width:244px;
height:30px;
 }
.done{
  background-color: rgba(248,250,140,0.5);
  text-decoration:line-through;
}
a{display:inline-block;
  text-decoration:none;
  cursor: pointer;
}
.addTask{margin:auto;
padding-left:30px;}
#input{padding-left:10px;}
input,.fa fa-check-circle fa-2x{vertical-align: top;}
